.container {
    text-align: center;
}

.grid {
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 750px;
    height: 750px;
}

.cell {
    border: 1px solid gray;
    display: inline-block;
}
